/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

/* select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header,main,footer */
header,main,footer {
    min-width: 100%;
}
/* header */
header {
    display:inline-flex;
    justify-content: space-between;
}
.logo {
    width: 5em;
    border-radius: 100%;
}

/* Place the menu to the right of the page */
.menu {
    /* margin:auto 0, */
    align-items: flex-end;
    margin: 5px 10px 0;
}
    
.menu-list {
    display: inline-flex;
    list-style: none;
}
.menu-list li {
    padding: 0 5px;
}
.menu-list li a{
    text-decoration: none;
    color: black;
}

    
/* main */
/* heading */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 15px;
}

/* home*/
#home {
    border-radius: 30px;
}

.wrapper {
    /* min-height: 100vh; */
    min-height: vh;
    align-content: center;
}
.wrapper img {
    display: block;
    margin: 15px auto;
    height: 50vh;
    width: 25vw;
    object-fit: cover;
    border-radius: 100%;
}
.wrapper p {
    text-align: center;
    margin:10px;
}

#about {
    background-color: lightgray;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
}

#resume {
    background-color: lightgray;
    border-radius: 30px;
    text-align: center;
}

   
#projects {
    background-color:lightgray;
    border-radius: 30px;
    margin: 10px;
}
#contact {
    background-color: lightgray;
    border-radius: 30px;
}
.wrapper p{
    padding: 0 5px;
}
#Form {
    text-align: center;
}
h2 {
    font-family:Silkscreen;
}
li a:hover{
    color: chartreuse;
    font-style: italic;
}
#Top {
    background-image: url(https://i.postimg.cc/VNfh6WLD/realistic-studio-lights-empty-background-design-1017-27233.webp);
    background-size: cover ;
}
.strong1{
    float: left;
}


